/* ------------------------------------------ */
/* COLORS */
:root {
    --primary-bg-color: #FDF9F1;
    --secondary-bg-color: #FFF;
    --primary-font-color: #222222;
    --primary-button-color: #D4E377;
    --accent-color-one: #EF5A30;
    --accent-color-two: #FEAE33;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

/* ------------------------------------------ */
/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Moderat', sans-serif;
    background-image: url(../images/background-pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2 {
    font-family: 'Tusker Grotesk', sans-serif;
    text-align: center;
}

h1 {
    font-size: 70px;
    letter-spacing: -1.4px;
}

h2 {
    font-size: 46px;
    margin-bottom: 28px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px auto 24px;
    background-color: var(--primary-bg-color);
    border: 1px solid var(--primary-font-color);
    border-radius: 10px;
    color: #726E6E;
}

/* ------------------------------------------ */
/* LOADING */
.blur-container {
    backdrop-filter: blur(1px); 
}

/* ------------------------------------------ */
/* LANDING */
.login-container {
    max-width: 275px;
    text-align: center;
}

.login-button {
    width: 275px;
    height: 58px;
    background-color: var(--primary-font-color);
    color: var(--secondary-bg-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.login-button:hover {
    background-color: var(--primary-button-color);
    color: var(--primary-font-color);
}

.signup-button {
    width: 275px;
    height: 58px;
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 19px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.signup-button:hover {
    background-color: var(--primary-button-color) !important;
    border: 1px solid var(--secondary-bg-color);
}

.guest-option {
    font-size: 18px;
    margin-top: 19px;
}

.guest-option a {
    text-decoration: none;
}

.guest-option i {
    color: var(--accent-color-two);
}

/* ------------------------------------------ */
/* LOGIN */
.login-page .login-text {
    text-align: left;
    display: block;
}

.login-page .guest-option {
    font-size: 14px;
}

#country {
    width: 80px;
    text-align: center; 
}

#mobile-number {
    width: 185px;
}

/* ------------------------------------------ */
/* SIGNUP */
.name-fields, .mobile {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.input-group {
    flex: 1;
}
