/* ------------------------------------------ */
/* COLORS */
:root {
    --primary-bg-color: #FDF9F1;
    --secondary-bg-color: #FFF;
    --primary-font-color: #222222;
    --primary-button-color: #D4E377;
    --accent-color-one: #EF5A30;
    --accent-color-two: #FEAE33;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

/* ------------------------------------------ */
/* FONTS */
@font-face {
    font-family: 'Tusker Grotesk';
    src: url('../fonts/TuskerGrotesk-Regular.woff2') format('woff2'),
         url('../fonts/TuskerGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------ */
/* TEXT */
body {
    font-family: 'Moderat', sans-serif;
    background-color: var(--primary-bg-color);
    margin: 0;
    padding: 20px 20px 70px;
}

main {
    padding-bottom: 50px; 
}

h1 {
    font-family: 'Tusker Grotesk', sans-serif;
    font-size: 44px;
    color: var(--primary-font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

a {
    text-decoration: none; 
}

.section-title {
    font-size: 24px; 
    color: var(--primary-font-color);
    margin: 30px 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}

/* ------------------------------------------ */
/* ICONS */
.cart-icon,
.star-icon,
.arrow-icon {
    cursor: pointer;
}

.cart-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.star-icon {
    width: 29px;
    height: 29px;
    margin-right: 8px;
}

.arrow-icon {
    width: 24px;
    height: 24px;
}

.reverse-arrow-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: 20px; 
    rotate: 180deg;
}

/* ------------------------------------------ */
/* POINTS SECTION */
.points-section {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.points-bar {
    width: 341px;
    height: 115px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="115" viewBox="0 0 300 115" fill="none"><path d="M300 95v10c-6 0-10 4-10 10H10c0-6-4-10-10-10V95c4 0 7-3 7-7s-3-7-7-7V72c4 0 7-3 7-7s-3-7-7-7V50c4 0 7-3 7-7s-3-7-7-7V28c4 0 7-3 7-7s-3-7-7-7V5c6 0 10-4 10-10h280c0 6 4 10 10 10v10c-4 0-7 3-7 7s3 7 7 7v10c-4 0-7 3-7 7s3 7 7 7v10c-4 0-7 3-7 7s3 7 7 7v10c-4 0-7 3-7 7s3 7 7 7z" fill="%23222222"/></svg>');
    background-size: cover;
    padding: 5px 15px 15px 30px;
    text-align: center; 
    color: var(--secondary-bg-color);
}

.points-earned {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%; 
}

.points-number {
    font-size: 30px; 
    margin-right: 8px;
}

.progress-bar {
    height: 16px;
    width: 291px; 
    max-width: 100%;
    border-radius: 5px; 
    background: var(--secondary-bg-color); 
    position: relative;
    overflow: hidden;
    margin: 10px auto; 
}

.free-text {
    color: var(--accent-color-one);
}

/* ------------------------------------------ */
/* PREVIOUS ORDERS | POPULAR ITEMS */
.orders-container {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 10px;
    overflow: visible;
}

.order-item {
    text-align: left;  
    width: 140px; 
    position: relative;
}

.order-item img {
    height: 119px; 
    width: 125px;
    object-fit: cover; 
    border-radius: 5px;
    display: block;
}

.order-item .item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.order-item h3 {
    font-size: 14px;
    margin: 4px 0 0;    
    font-weight: bold;
}

.order-item .price {
    font-size: 12px;
    color: var(--primary-font-color);
}

.order-item p {
    font-size: 10px;
    margin: 5px 0;
}

.last-order {
    color: var(--accent-color-one);
}

/* ------------------------------------------ */
/* ADD BUTTON */
.add-icon {
    position: absolute;
    top: -15px;
    right: 5px;
    background-color: var(--primary-font-color);
    color: var(--secondary-bg-color);
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-icon img {
    width: 9px; 
    height: 9px;
}

/* ------------------------------------------ */
/* FILTER BUTTON */
.menu-page .filter-buttons-wrapper {
    margin-top: -20px; 
}

.menu-page .section-title {
    margin-bottom: 15px;
}

.filter-buttons-wrapper {
    display: flex;
    gap: 10px; 
}

.filter-button {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: var(--primary-bg-color);
    font-size: 14px;
    font-family: 'Moderat', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--primary-font-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap; 
    width: auto;
    min-width: fit-content; 
}

.filter-button:hover {
    background-color: rgba(128, 128, 128, 0.15);
    color: var(--primary-font-color);
}

.filter-button:active {
    background-color: var(--primary-font-color); 
    color: var(--secondary-bg-color);
}

/* ------------------------------------------ */
/* SCROLL */
.scroll-indicator {
    width: 60px; 
    height: 7px;  
    background-color: #D9D9D9;  
    border-radius: 20px;  
    position: relative;
    margin: 0 auto 10px;  
}

.scroll-fill {
    width: 30%; 
    height: 100%;
    background-color: var(--primary-font-color);  
    border-radius: 20px;  
}

/* ------------------------------------------ */
/* ACCOUNT | PAYMENT | ORDERS */
.profile-sections {
    display: flex;
    justify-content: space-around;
    margin: 2px;
}

.profile-account-title,
.profile-payment-title,
.profile-orders-title {
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    position: relative;
    color: #7F7D79; 
}

.profile-account-title {
    color: var(--primary-font-color);
}

.profile-link {
    text-decoration: none;
    color: inherit;
}

/* ------------------------------------------ */
/* PROFILE UNDERLINES */
.profile-account-title::after,
.profile-payment-title::after,
.profile-orders-title::after {
    content: "";
    display: block;
    width: 102px;
    height: 2px;
    margin: 15px auto 0;
}

.profile-account-title::after {
    background-color: var(--primary-button-color);
}

.profile-payment-title::after,
.profile-orders-title::after {
    background-color: #7F7D79;
}

.profile-underline,
.profile-underline-email {
    width: 80%;
    height: 1px;
    background-color: var(--primary-font-color);
    margin: 10px auto 0;
}

.profile-underline-email {
    margin-bottom: 32px;
}
/* ------------------------------------------ */
/* ACCOUNT SECTION */
.profile-info,
.profile-info-number,
.profile-info-email {
    display: flex;
    align-items: center;
    padding-left: 48px;
    padding-right: 10px;
    padding-bottom: 4px;
    gap: 15px;
}

.profile-info-number,
.profile-info-email {
    padding-top: 8px; 
    padding-bottom: 2px !important; 
}

.profile-pic {
    width: 72px; 
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--accent-color-two);
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 4px; 
}

.profile-name-bold {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px; 
}

.profile-name {
    font-size: 14px;
    color: #7F7D79;
    margin-top: 0; 
    line-height: 1.1; 
}

/* ACCOUNT SECTION LOGIN */
.login-icon {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 10px; 
}

.login-message {
    width: 400px;
    height: 70px;
    display: block;
    margin: 10px auto 19px;   
    color: #8D8D8D;
    text-align: center;
    font-family: 'Tusker Grotesk', sans-serif;
    font-size: 24px;

    margin-bottom: 25px;
}

/* ------------------------------------------ */
/* LOGIN & SIGNUP BUTTONS */
.login-button {
    width: 275px;
    height: 58px;
    padding: 10px;
    background-color: var(--primary-font-color);
    color: var(--secondary-bg-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    display: block;
    margin: 10px auto 19px;    
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.login-button:hover {
    background-color: var(--primary-button-color);
    border: 1px solid var(--secondary-bg-color);
    color: var(--primary-font-color);
}

.signup-button {
    width: 275px;
    height: 58px;
    padding: 10px;
    background-color: var(--secondary-bg-color);
    color: var(--primary-font-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    display: block;
    margin: 0 auto 0;    
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.signup-button:hover {
    background-color: var(--primary-button-color);
    border: 1px solid var(--secondary-bg-color);
}

/* ------------------------------------------ */
/* PAYMENT SECTION */


/* ------------------------------------------ */
/* FOOTER */
.footer-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--primary-font-color);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-nav img {
    width: 24px;
    height: 24px;
    padding: 10px;
}

.footer-nav img:hover {
    background-color: #161616; 
}
