/* ------------------------------------------ */
/* COLORS */
:root {
    --primary-bg-color: #FDF9F1;
    --secondary-bg-color: #FFF;
    --primary-font-color: #222222;
    --primary-button-color: #D4E377;
    --accent-color-one: #EF5A30;
    --accent-color-two: #FEAE33;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

/* ------------------------------------------ */
/* GENERAL STYLES */
body {
    font-family: 'Moderat', sans-serif;
    background-color: var(--primary-bg-color);
    margin: 0;
    padding: 20px 20px 70px;
}

main {
    padding-bottom: 50px; 
}

h1 {
    font-family: 'Tusker Grotesk', sans-serif;
    font-size: 44px;
    color: var(--primary-font-color);
    margin-top: 60px;
}

a {
    text-decoration: none; 
}

button a {
    text-decoration: none;
    color: inherit; 
    display: inline-block; 
}


/* ------------------------------------------ */
/* HEADER */
.section-title {
    font-family: 'Tusker Grotesk', sans-serif;
    font-size: 24px; 
    color: var(--primary-font-color);
    margin: 30px 0;
    display: flex; 
    justify-content: space-between; 
}

/* ------------------------------------------ */
/* POINTS SECTION */
.points-section {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.points-bar {
    width: 412px;
    height: 115px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="115" viewBox="0 0 300 115" fill="none"><path d="M300 95v10c-6 0-10 4-10 10H10c0-6-4-10-10-10V95c4 0 7-3 7-7s-3-7-7-7V72c4 0 7-3 7-7s-3-7-7-7V50c4 0 7-3 7-7s-3-7-7-7V28c4 0 7-3 7-7s-3-7-7-7V5c6 0 10-4 10-10h280c0 6 4 10 10 10v10c-4 0-7 3-7 7s3 7 7 7v10c-4 0-7 3-7 7s3 7 7 7v10c-4 0-7 3-7 7s3 7 7 7v10c-4 0-7 3-7 7s3 7 7 7z" fill="%23222222"/></svg>');
    background-size: cover;
    padding: 5px 15px 15px 30px;
    text-align: center; 
    color: var(--secondary-bg-color);
}

.points-earned {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.progress-bar {
    height: 16px;
    width: 291px; 
    border-radius: 5px; 
    background: var(--secondary-bg-color); 
    margin: 10px auto; 
}

.free-text {
    color: var(--accent-color-one);
}

/* ------------------------------------------ */
/* ICONS */
.cart-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.star-icon {
    width: 29px;
    height: 29px;
    margin-right: 8px;
}

.arrow-icon {
    width: 24px;
    height: 24px;
}

.cart-icon,
.star-icon,
.arrow-icon {
    cursor: pointer;
}

.reverse-arrow-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 30px;
    left: 20px; 
    rotate: 180deg;
}

/* ------------------------------------------ */
/* FOOD CARDS */
.orders-container {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 8px;

}

.order-item {
    text-align: left;  
    width: 140px; 
    position: relative;
}


.order-item img {
    height: 119px; 
    width: 125px;
    object-fit: cover; 
    border-radius: 5px;
    display: block;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-right: 15px;
}

.item-info .category {
    color: #4F4F4F;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 2px;
}

.item-info .title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.item-info .price {
    font-size: 12px;
    color: var(--primary-font-color);
    margin: 0 0 2px;
}

.item-info .description {
    font-size: 10px;
    margin: 0;
}

.item-info .last-order {
    color: var(--accent-color-one);
    font-size: 10px;
    margin: 20px;
}

/* ------------------------------------------ */
/* SCROLL */
.scroll-indicator {
    width: 60px; 
    height: 7px;  
    background-color: #D9D9D9;  
    border-radius: 20px;  
    position: relative;
    margin: 0 auto 10px;  
}

.scroll-fill {
    width: 30%; 
    height: 100%;
    background-color: var(--primary-font-color);  
    border-radius: 20px;  
}

/* ------------------------------------------ */
/* ADD BUTTON */
.add-icon {
    position: absolute;
    top: -15px;
    right: 5px;
    background-color: var(--primary-font-color);
    color: var(--secondary-bg-color);
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-icon img {
    width: 9px; 
    height: 9px;
}

/* ------------------------------------------ */
/* MENU */
.menu-page .filter-buttons-wrapper {
    margin-top: -20px; 
}

.menu-page .section-title {
    margin-bottom: 15px;
}

/* ------------------------------------------ */
/* FILTERS */
.filter-buttons-wrapper {
    display: flex;
    gap: 10px; 
}

.filter-button {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: var(--primary-bg-color);
    font-size: 14px;
    font-family: 'Moderat', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--primary-font-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap; 
    width: auto;
    min-width: fit-content; 
}

.filter-button:hover {
    background-color: rgba(128, 128, 128, 0.15);
    color: var(--primary-font-color);
}

.filter-button:active {
    background-color: var(--primary-font-color); 
    color: var(--secondary-bg-color);
}

/* ------------------------------------------ */
/* CATEGORY PAGE */
.category-page .orders-container,
.cart-page .orders-container {
    display: flex;
    flex-direction: column;
    margin: 24px 24px 15px 24px ;
    width: 337px;
   
}

.category-page .food-image,
.cart-page .food-image {
    width: 110px;
    height: 110px;
    border-radius: 5px;
    border: 2px solid var(--primary-bg-color);
}

.category-page .item-info,
.cart-page .item-info {
    min-width: 150px; 
    flex: 1;
}

.category-page .order-item,
.cart-page .order-item {
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start; 
    gap: 14px;
    width: 120%;
    position: relative;
}

.category-page .title,
.cart-page .title {
        font-size: 18px;
        font-weight: bold;
        color: var(--primary-font-color);
        margin-bottom: 7px; 
}

.category-page .calories,
.cart-page .calories {
    color: #4F4F4F;
    font-size: 12px;
    font-weight: 400;
    display: block;
    max-width: 100%;}

.category-page .prep-time {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #4F4F4F;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 7px; 
    white-space: nowrap;
}

.category-page .counter-price-container,
.cart-page .counter-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
    width: 100%;
}

.category-page .price,
.cart-page .price {
    font-size: 14px;
    color: var(--primary-font-color);
    text-align: right;
    white-space: nowrap;
    margin-left: auto;
    margin-top: 12px;
}

.category-page .profile-underline,
.cart-page .profile-underline {
    width: 404px;
    height: 1px;
    background-color: var(--primary-font-color);
    margin: 10px auto;
}

/* ------------------------------------------ */
/* SINGLE */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 0; 
}

.centered-image {
    height: 300px;
    width: 80%; 
    object-fit: cover; 
    border-radius: 5px;
}

.single-page .info-wrapper {
    margin-left: 20px;
}

.single-page .subtotal-container {
    width: 82%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 0;
}

.single-page .info-container {
    display: flex;
    width: 100%;
    margin: 0 auto 0 4px; 
    font-size: 14px;
}

.single-page .calories {
    margin: 0 11px 0 26px ; 
}

.single-page .counter-heart-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 82%;
    margin: 15px 0 0 30px; 
}

.single-page .counter-container {
    border-radius: 5px;
    width: 87px;
    height: 33px;
}

.heart-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.heart-button img {
    width: 30px;
    height: 30px;
}

.heart-button:active {
    transform: scale(0.9);
}

.heart-active {
    animation: bounce 0.3s ease-in-out;
}

@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.single-page .description-notes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 350px;
    margin-left: 32px;
}

.single-page .description-title,
.single-page .notes-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
}

.single-page .description-text {
    font-size: 13px;
    font-weight: 400;
    max-width: 330px;
}

.single-page .notes-textarea {
    width: 330px;
    height: 110px;
    margin: 10px 0; 
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    font-style: italic;
    font-weight: 401;
    color: var(--lennox-black, #222);
    opacity: 0.32; 
    resize: none;
}

.single-page .notes-textarea::placeholder {
    font-family: 'Moderat', sans-serif;
    font-size: 17px;
    font-style: italic;
    font-weight: 401;
    line-height: normal;
    opacity: 0.32;
}

/* ------------------------------------------ */
/* COUNTER BUTTON */
.counter-container,
.cart-page .counter-container {
    display: flex;
    align-items: center;
    background-color: var(--primary-font-color);
    border-radius: 5px;
    width: 87px;
    height: 23px;
    justify-content: center;
}

.cart-page .counter-container {
    margin-top: 8px;
}

.counter-button {
    background-color: transparent;
    color: var(--secondary-bg-color);
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#counterValue {
    font-size: 14px;
    color: var(--secondary-bg-color);
    flex: 1;
    text-align: center;
}

/* ------------------------------------------ */
/* PROFILE */
.profile-sections {
    display: flex;
    justify-content: space-around;
    margin: 2px;
}

.profile-sections h2 {
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #7F7D79;
}

.profile-sections h2::after {
    content: "";
    display: block;
    width: 102px;
    height: 2px;
    margin: 15px auto 0;
}

.profile-account-title {
    color: var(--primary-font-color);
}

.profile-account-title::after {
    background-color: var(--primary-button-color);
}

.profile-payment-title::after,
.profile-orders-title::after {
    background-color: #7F7D79;
}


.profile-link {
    text-decoration: none;
}

/* ------------------------------------------ */
/* PROFILE - ACCOUNT - GUEST */
.login-icon {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 10px; 
}

.login-message {
    width: 400px;
    height: 70px;
    display: block;
    margin: 10px auto 19px;   
    color: #8D8D8D;
    text-align: center;
    font-family: 'Tusker Grotesk', sans-serif;
    font-size: 24px;
    margin-bottom: 25px;
}

.login-button {
    width: 275px;
    height: 58px;
    background-color: var(--primary-font-color);
    color: var(--secondary-bg-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;  
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    display: block;
    margin: 10px auto 19px;  
}

.login-button:hover {
    background-color: var(--primary-button-color);
    color: var(--primary-font-color);
}

.cart-page .login-button {
    width: 338px;
    height: 39px;
    font-size: 24px;
    margin: 20px auto 167px;
}

.signup-button {
    width: 275px;
    height: 58px;
    padding: 10px;
    background-color: var(--secondary-bg-color);
    color: var(--primary-font-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    display: block;
    margin: 0 auto 0;    
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.signup-button:hover {
    background-color: var(--primary-button-color);
    border: 1px solid var(--secondary-bg-color);
}

/* ------------------------------------------ */
/* PROFILE - ACCOUNT - LOGGED IN */
.profile-info,
.profile-info-number,
.profile-info-email {
    display: flex;
    align-items: center;
    padding-left: 48px;
    padding-right: 10px;
    padding-bottom: 4px;
    gap: 15px;
}

.profile-info-number,
.profile-info-email {
    padding-top: 8px; 
    padding-bottom: 2px !important; 
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 4px; 
}

.profile-name {
    font-size: 14px;
    color: #7F7D79;
    margin-top: 0; 
    line-height: 1.1; 
}


/* ------------------------------------------ */
/* PROFILE - PAYMENT */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 18px;
}

.card-title,
.add-card {
    font-size: 16px;
    font-weight: bold;
}

.card-title {
    margin-left: 40px;
}

.add-card {
    color: var(--accent-color-one);
    cursor: pointer;
    margin-right: 40px;
}

/* ------------------------------------------ */
/* CREDIT CARD */
.credit-card-container {
    width: 335px;
    height: 185px;
    margin: 0 auto 25px;
}

.credit-card {
    background: linear-gradient(135deg, #0F172A 0%, #1E40AF 50%, #3B82F6 100%);
    border-radius: 20px;
    padding: 20px;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credit-text,
.card-user,
.card-number {
    color: var(--secondary-bg-color);
    font-size: 16px;
    margin-bottom: 0;
}

.card-user {
    font-family: "IBM Plex Mono", monospace;
}

.card-details {
    margin-top: 51px;
}

/* ------------------------------------------ */
/* VENMO */
.profile-pic {
    width: 72px; 
    height: 72px;
    border-radius: 50%;
    background-color: var(--accent-color-two);
}

.profile-name-bold {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px; 
}

.profile-underline,
.profile-underline-email {
    width: 85%;
    height: 1px;
    background-color: var(--primary-font-color);
    margin: 10px auto 0;
}

.profile-underline {
    margin-bottom: 12px;
}

/* ------------------------------------------ */
/* SUBTOTAL */
.subtotal-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 0 28px 31px 28px;
}

.subtotal-title {
    font-size: 20px;
    font-weight: 700;
}

.subtotal-price {
    width: 84px;
    text-align: right;
    font-size: 20px;
}


/* ------------------------------------------ */
/* FOOTER */
.footer-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--primary-font-color);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-nav img {
    width: 24px;
    height: 24px;
    padding: 10px;
}

/* ------------------------------------------ */
/* YOUR ORDER */
.order-map-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.order-map {
    position: relative;
    width: 375px;
    height: 200px;
    border-radius: 10px;
    background: lightgray 50% / cover no-repeat;
    overflow: hidden;
}

.map-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url('../images/map.png');
    background-size: cover;
    background-position: center;
}

.map-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}

.location-container {
    display: flex;
    align-items: flex-start; 
    gap: 10px;              
    margin-top: 22px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}
  
.location-icon {
    width: 34px;
    height: 34px;
}
  
.location-title {
    font-size: 16px;
    font-weight: 700;
}
  
.location-address {
    color: #4F4F4F;
    font-size: 14px;
}

.order-status-container {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

.order-status-title {
    width: 143px;
    height: 31px;
    font-family: "Tusker Grotesk", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.order-status-timeline {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.order-status-line {
    position: absolute;
    left: 13px; 
    top: 12px;
    width: 6px;
    height: 192px;
    flex-shrink: 0;
    background-color: var(--primary-font-color);
    z-index: -1;
}

.order-status-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.order-status-icon {
    width: 30px;
    height: 30px;
}

.order-status-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.order-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

.order-items-title {
    height: 31px;
    font-family: "Tusker Grotesk", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.order-item {

    align-items: center;
    justify-content: space-between;
    width: 380px;
}

.order-quantity {
    width: 14px;
    font-size: 32px;
    font-weight: 500;
}

.order-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 10px;
    margin-top: 15px;
}

.order-item-name {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

.order-item-addons {
    height: 24px;
    color: #8D8D8D;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}

.order-price {
    width: 44px;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
}
